**/dist
**/e2e
# **/.vscode
**/node_modules
**/deploy*
# **/wwwroot
**/bin
**/bin
**/obj
**/docs
**/out

publish/**
.env
wwwroot/cvs/
wwwroot/photos/
wwwroot/classes/


# db/dev.db

# db/dev*
**-shm
**-wal
# **t.json
